<div id="map" class="col-sm-9 fill nopadding" style="border: 1px solid black;">
  <app-heatmap></app-heatmap>
</div>

<div id="sidebar" class="col-sm-3 fill"><br />
  <label>alpha</label>
  <md-slider showTicks="true" tickInterval="1" min="0.0" max="1.0" step="0.1" thumbLabel="true" value="0.2"></md-slider><br />
  <label>radius</label>
  <md-slider showTicks="true" tickInterval="1" min="0.25" max="400.0" step="39.975" thumbLabel="true" value="30.0"></md-slider><br />
  <label>k</label>
  <md-slider showTicks="true" tickInterval="1" min="10" max="100" step="10" thumbLabel="true" value="100"></md-slider><br />
  <label>now</label>
  <md-slider showTicks="true" tickInterval="1" min="0" max="1000" step="1" thumbLabel="true" value="1000"></md-slider><br />
  <label>time</label>
  <md-slider showTicks="true" tickInterval="1" min="0" max="1000" step="1" thumbLabel="true" value="1000"></md-slider>
  <app-table></app-table>
</div>
